/*
 * HeroUI Pro Theme
 * Add this to your globals.css after importing @heroui/styles
 * @see https://heroui.com/docs/react/getting-started/theming
 */

/*
 * Font: Inter
 * Load this font in your app:
 * <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
 */
:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors */
  --background: oklch(97.02% 0.0000 277.12);
  --muted: oklch(55.17% 0.0000 277.12);
  --scrollbar: oklch(87.10% 0.0000 277.12);
  --surface-secondary: oklch(95.24% 0.0000 277.12);
  --surface-tertiary: oklch(93.73% 0.0000 277.12);
  --default: oklch(94.00% 0.0000 277.12);
  --accent: oklch(58.54% 0.2041 277.12);
  --field-border: oklch(90.00% 0.0000 277.12);
  --border: oklch(90.00% 0.0000 277.12);
  --separator: oklch(92.00% 0.0000 277.12);

  /* Border Radius */
  --radius: 0.125rem;
  --field-radius: 0.5rem;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors */
  --background: oklch(12.00% 0.0000 277.12);
  --muted: oklch(70.50% 0.0000 277.12);
  --scrollbar: oklch(70.50% 0.0000 277.12);
  --surface: oklch(21.03% 0.0000 277.12);
  --surface-secondary: oklch(25.70% 0.0000 277.12);
  --surface-secondary-foreground: oklch(25.70% 0.0000 277.12);
  --surface-tertiary: oklch(27.21% 0.0000 277.12);
  --surface-tertiary-foreground: oklch(27.21% 0.0000 277.12);
  --overlay: oklch(21.03% 0.0000 277.12);
  --default: oklch(27.40% 0.0000 277.12);
  --accent: oklch(68.01% 0.1584 276.94);
  --accent-foreground: var(--eclipse);
  --field-background: oklch(21.03% 0.0000 277.12);
  --field-placeholder: oklch(70.50% 0.0000 277.12);
  --field-border: oklch(28.00% 0.0000 277.12);
  --segment: oklch(39.64% 0.0000 277.12);
  --border: oklch(28.00% 0.0000 277.12);
  --separator: oklch(25.00% 0.0000 277.12);
}